@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  @apply text-left text-base text-trilist-text;
}

@layer components {
  .form-button {
    @apply focus-visible:outline-none focus-visible:ring-1;
  }
  .form-button,
  .form-checkbox,
  .form-input {
    @apply focus-visible:border-trilist-accent focus-visible:ring-trilist-accent focus:ring-trilist-accent;
  }
}
