@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  @apply text-base;
}

@layer components {
  .form-button {
    @apply focus-visible:outline-none focus-visible:ring-1;
  }
  .form-button,
  .form-checkbox,
  .form-input {
    @apply focus-visible:border-trilist-input-focus focus-visible:ring-trilist-input-focus focus:ring-trilist-input-focus;
  }
}
